.resultArea{
    text-align: center;
    margin: 50px;
}

.spinnerArea{
    text-align: center;
    padding: 20px;
}

.dropdownArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.optionsArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.elementWrapper{
    display: flex;
    justify-Content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
