.resultArea{
    text-align: center;
    margin: 50px;
}

.spinnerArea{
    text-align: center;
    padding: 20px;
}

.dropdownArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
}