.gridBoxesContainer{

}

.gridBox{
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widgetRemove{
    position: absolute;
    right: 2px;
    top: 0;
    cursor: pointer;
    margin: 2px;
    padding: 1px;
}   

.addIconContainer{
    cursor: pointer;
}

.addIcon{
    transition: transform 1s;

}

.addIcon:hover{
    transform: scale(1.25);

}

.outerAddIconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

