:root {
    --gridCellOptionsBoxPadding: 5px;
    --normalChartsSmallScreenMinWidth: 450px;
    --activityHistogramSmallScreenMinWidth: 940px;
    --areaChartSmallScreenMinWidth: 700px;
    --areaChartSmallScreenMinWidth: 700px;
}

.dashboardGrid{
    padding-top: 10px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.dashboardGridCellItem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.dashboardGridOptionsContainer{
    margin-top: 2px;
}

.dashboardGridCellBox{
    width: 100%;
    border-color: rgb(243, 243, 243);
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 3px;
}

.dashboardGridCellBoxMainVisualizations{
    composes:dashboardGridCellBox;
    height: 210px;
}

.dashboardGridCellOptionsBox{
    composes:dashboardGridCellBox;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    height: 100%;

}

.dashboardGridCellOptionsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.dashboardGridCellChartContainer{
    height: 100%;
    display: block;
    text-align: center;
}

@media not all and (min-width: 960px) {
    /* media query: inverted with min instead of max 960 to simulate > instead of >= */
    .dashboardGridCellBox{
        composes: dashboardGridCellBox;
        max-width: var(--normalChartsSmallScreenMinWidth); 
    }   

/*     TODO add more width according to padding
 */    .dashboardGridCellBoxActivityHistogramStaticWidthSmallScreen{
        min-width: var(--activityHistogramSmallScreenMinWidth);
    }

    .dashboardGridCellItemActivityHistogramStaticWidthSmallScreen{
        min-width: var(--activityHistogramSmallScreenMinWidth);
    }

    .dashboardGridCellBoxAreaChartStaticWidthSmallScreen{
        min-width: var(--areaChartSmallScreenMinWidth);
    }

    .dashboardGridCellItemAreaChartStaticWidthSmallScreen{
        min-width: var(--areaChartSmallScreenMinWidth);
    }
  } 
