@value colors: "./export-variables.module.css";
@value appBackgroundColor from colors;

:root {
    --outerGridPadding: 7px;
    --gridCellBoxPadding: 3px;
    --gridCellItemPadding: 7px;
    --chartContainerSmall900StaticWidth: 500px;
    --optionsItemBoxHeight: 75px;
    --mainVisualizationsHeight: 200px;
    --girdCellItemDoubleRowHeight: calc(2 * var(--mainVisualizationsHeight) + 3 * var(--gridCellBoxPadding) + 3 * var(--gridCellItemPadding));
    --activityHistogramHeight: 84px;
    --movingTransition: all .5s ease-in-out;
}

.dashboardGrid{
    display: flex;
    flex-flow: column;
    padding: var(--outerGridPadding);
    background-color: appBackgroundColor;
    transition: var(--movingTransition);
    overflow-y: auto;
    height: calc(100% - 2 * var(--outerGridPadding));
}

.visualizationGridFullScreenNoOverflow{
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
}

.dashboardGridCellItem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--gridCellItemPadding);
    width: 100%;
    flex-flow: column;
}

.dashboardGridCellItemFullScreenFixedContent{
    composes: dashboardGridCellItem;
    flex: none;
}

.dashboardGridCellItemFullScreenStretchContent{
    composes: dashboardGridCellItem;
    flex: 1;
    max-height: 700px;
}

.dashboardGridCellItemDoubleRow{
    composes: dashboardGridCellItem;
    flex: 1 1 0;
    max-height: var(--girdCellItemDoubleRowHeight);
}

.dashboardGridCellItemDoubleRowInnerGridContainer{
    max-height: var(--girdCellItemDoubleRowHeight);
}

/* .dashboardDoubleGridCellItem{
/*     composes: dashboardGridCellItem;
    padding: 0px; 
} */

.dashboardGridCellOptionsItem{
    composes: dashboardGridCellItem;
    padding: var(--gridCellItemPadding);
    height: auto;
    transition: var(--movingTransition);
}

.dashboardGridCellBox{
    background-color: white;
    border-radius: 10px;
    padding: var(--gridCellBoxPadding);
    width: 100%;
    box-sizing: border-box;
}

.dashboardGridCellChartBox{
    composes: dashboardGridCellBox;
    display: flex;
    flex-flow: column;
}

.dashboardGridCellChartBoxActivityHistogram{
    composes: dashboardGridCellChartBox;
    height: var(--activityHistogramHeight);
}

.dashboardGridCellChartBoxMainVisualizations{
    composes: dashboardGridCellChartBox;
    height: var(--mainVisualizationsHeight);
}

.dashboardGridCellChartBoxDoublerowVisualizations{
    composes: dashboardGridCellChartBox;
    flex: 1 1 0;
    height: calc(2 * var(--mainVisualizationsHeight));
    /* height: var(--mainVisualizationsHeight); */
    /* max-height: calc(100% - var(--gridCellBoxPadding)); */
}

.dashboardGridCellChartBoxAutoheightChart{
    composes: dashboardGridCellChartBox;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
}

.dashboardGridCellChartBoxAutoheightFullheightStretchChart{
    composes: dashboardGridCellChartBox;
    height: 100%;
}

.dashboardGridCellOptionsBox{
    composes: dashboardGridCellBox;
    width: 100%;
    height: var(--optionsItemBoxHeight);
    transition: var(--movingTransition);
}

.dashboardGridCellChartContainer{
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    flex-flow: column;
    /* overflow: hidden; */
}

@media not all and (min-width: 1200px) {
    .dashboardGridCellOptionsBox{
        composes: dashboardGridCellOptionsBox;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        min-height: var(--optionsItemBoxHeight);
    } 

    .dashboardGridCellChartBoxDoublerowVisualizations{
        composes: dashboardGridCellChartBoxDoublerowVisualizations;
        height: var(--mainVisualizationsHeight);
    }
}

  @media not all and (min-width: 900px){

    .dashboardGridCellChartContainerStaticWidthSmall{
        max-width: var(--chartContainerSmall900StaticWidth);
        display: block;
        margin: 0 auto;
    }

    .dashboardGridCellChartBox{
        composes: dashboardGridCellChartBox;
        max-width: none;
    }
  }

  @media not all and (min-width: 700px) {
    .dashboardGridCellOptionsItem{
        composes: dashboardGridCellOptionsItem;
        height: auto;
    }
  }
