:root {
    --outerGridPadding: 7px;
    --gridCellBoxPadding: 3px;
    --gridCellItemPadding: 7px;
    --normalChartsSmallScreenMinWidth: 450px;
    --activityHistogramSmallScreenMinWidth: 940px;
    --areaChartSmallScreenMinWidth: 700px;
    --areaChartSmallScreenMinWidth: 700px;
    --optionsItemBoxHeight: 75px;
    --mainVisualizationsHeight: 210px;
    --activityHistogramHeight: 84px;
    --gridCellBoxColor: rgb(245, 245, 245);
    --smallScreenActivityChartAreaChartOffset: 7px;
    --movingTransition: all .5s ease-in-out;
}

.dashboardGrid{
    padding: var(--outerGridPadding);
    background-color: white;
    transition: var(--movingTransition);
}

.dashboardGridCellItem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--gridCellItemPadding);
}

.dashboardGridCellOptionsItem{
    composes: dashboardGridCellItem;
    padding: var(--gridCellItemPadding);
    height: auto;
    transition: var(--movingTransition);

}

.dashboardGridCellBox{
    background-color: var(--gridCellBoxColor);
    border-radius: 10px;
    padding: var(--gridCellBoxPadding);
}

.dashboardGridCellChartBox{
    composes:dashboardGridCellBox;
    width: 100%;
}

.dashboardGridCellChartBoxActivityHistogram{
    composes:dashboardGridCellChartBox;
    height: var(--activityHistogramHeight);
}

.dashboardGridCellChartBoxMainVisualizations{
    composes:dashboardGridCellChartBox;
    height: var(--mainVisualizationsHeight);
}

.dashboardGridCellOptionsBox{
    composes:dashboardGridCellBox;
    width: 100%;
    height: var(--optionsItemBoxHeight);
    transition: var(--movingTransition);
}

.dashboardGridCellChartContainer{
    height: 100%;
    display: block;
    text-align: center;
}

@media not all and (min-width: 1200px) {
    .dashboardGridCellOptionsBox{
        composes: dashboardGridCellOptionsBox;
        width: 100%;
        height: auto;
    }  
}

@media not all and (min-width: 960px) {
    /* media query: inverted with min instead of max 960 to simulate > instead of >= */
    .dashboardGridCellChartBox{
        composes: dashboardGridCellChartBox;
        max-width: var(--normalChartsSmallScreenMinWidth); 
    }     

    .dashboardGridCellItemActivityHistogramStaticWidthSmallScreen{
        min-width: calc(var(--activityHistogramSmallScreenMinWidth) + var(--gridCellItemPadding) + var(--gridCellItemPadding) + var(--smallScreenActivityChartAreaChartOffset));
    }

    .dashboardGridCellChartBoxActivityHistogramStaticWidthSmallScreen{
        min-width: var(--activityHistogramSmallScreenMinWidth);
    }

    .dashboardGridCellItemAreaChartStaticWidthSmallScreen{
        min-width: calc(var(--areaChartSmallScreenMinWidth) + var(--gridCellItemPadding) + var(--gridCellItemPadding) + var(--smallScreenActivityChartAreaChartOffset));
    }

    .dashboardGridCellChartBoxAreaChartStaticWidthSmallScreen{
        min-width: var(--areaChartSmallScreenMinWidth);
    }
  } 

  @media not all and (min-width: 700px) {
    .dashboardGridCellOptionsItem{
        composes: dashboardGridCellOptionsItem;
        height: auto;
    }
  }
