/* @value appBackgroundColor: rgb(100, 100, 100); */
@value appBackgroundColor: rgb(238, 238, 238);
@value colorPrimary: #f5f3bb;
@value colorSecondary: #d4733e;
@value colorTertiary: #919191;
@value colorAccentBlack: #040404;
@value colorAccentDarkGreen: #379634;
@value colorAccentDarkBlue: #454E9E;
@value hoverOpacity: 0.5;
@value mobileScreenSizeAppWidth: 400px;

:export {
    colorPrimary: colorPrimary;
    colorSecondary: colorSecondary;
    colorTertiary: colorTertiary;
    colorAccentBlack: colorAccentBlack;
    colorAccentDarkGreen: colorAccentDarkGreen;
    colorAccentDarkBlue: colorAccentDarkBlue;
    hoverOpacity: hoverOpacity;
    mobileScreenSizeAppWidth: mobileScreenSizeAppWidth;
}

:root {
    --tooltipBorderWidth: 1px;
    --tooltipBorderRadius: 7px;
    --tooltipBorderColor: colorTertiary;
    --tooltipBackgroundColor: rgba(255,255,255);
    --mobileScreenSizeAppWidth: mobileScreenSizeAppWidth;
}