@value colors: "./export-variables.module.css";
@value appBackgroundColor from colors;

.app{
    background-color: appBackgroundColor;
    overflow-x: visible;
    width: 100%;
}

.appHeader{
    position: fixed;
    top: 0;
    width: 100%;
}

.appNavigation{
    position: fixed;
    top: 38px;
    width: 100%;
}

.appBody{
    position: fixed;
    top: 76px;
    bottom: 0px;
    width: 100%;
}

@media not all and (min-width: 400px) {
    
    .app{
        composes: app;
        position: absolute;
        width: inherit;
    }
    .appHeader{
        composes: app;
        position: absolute;
    }
    
    .appNavigation{
        composes: app;
        position: absolute;
    }

    .appBody{
        composes: appBody;
        position: fixed;
    }
    
  }

