.app{
    background-color: rgb(247, 251, 255);
}

.appHeader{
    position: fixed;
    top: 0;
    width: 100%;
}

.appNavigation{
    position: fixed;
    top: 38px;
    width: 100%;
}

.appBody{
    position: fixed;
    top: 71px;
    bottom: 0px;
    width: 100%;
    overflow-y: auto;
}

.appHeaderTitle{
    flex-grow: 1,
}

