@value globals: "./export-variables.module.css";
@value appBackgroundColor, mobileScreenSizeAppWidth from globals;

.app{
    background-color: appBackgroundColor;
    overflow-x: visible;
    width: 100%;
}

.appHeader{
    position: fixed;
    top: 0;
    width: 100%;
}

.appNavigation{
    position: fixed;
    top: 38px;
    width: 100%;
}

.appBody{
    position: fixed;
    top: 76px;
    bottom: 0px;
    width: 100%;
}

@media not all and (min-width: mobileScreenSizeAppWidth) {
    
    .appHeader{
        composes: app;
        position: absolute;
        width: var(--mobileScreenSizeAppWidth);
    }
    
    .appNavigation{
        composes: app;
        position: absolute;
        width: var(--mobileScreenSizeAppWidth);
    }

    .appBody{
        composes: appBody;
        position: absolute;
        width: var(--mobileScreenSizeAppWidth);
    }
    
  }

