@value colors: "./export-variables.module.css";
@value colorTertiary from colors;

@keyframes miniSpinner {
    to {transform: rotate(360deg);}
  }
   
  .miniSpinner:before {
    display: flex;
    flex: 1 1 auto;
    content: '';
    box-sizing: border-box;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 2px solid white;
    border-top-color: colorTertiary;
    animation: miniSpinner .6s linear infinite;
  }