@value colors: "./export-variables.module.css";
@value colorAccentBlack from colors;

:root {
    --dagreGraphPadding: 2px;
}

.elementWrapper{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.queryplanContainer{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.queryplanContainerTitle{
    position: relative;
    top: 1px;
    font-family: 'Segoe UI';
    font-size: 11px;
    font-weight: bold;
    color: colorAccentBlack;
    opacity: 1;
    margin-bottom: 0;
}

.warningContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dagreGraph{
    cursor: grab;
    padding: var(--dagreGraphPadding);
    box-sizing: border-box;
    height: 100%;
    width: 100%; 
}

.dagreGraph:active{
    cursor: grabbing;
}

.dagreNode{
    cursor: pointer;
    border: solid;
    border-color: colorAccentBlack;
    font-size: small;
}

.dagreRootNode{
    cursor: default;
}

.dagreUnavailableNode{
    cursor: not-allowed;
}

.dagreInactiveNode text{
    fill: colorAccentBlack;
}

.dagreActiveNode text{
    fill: white;
}

.dagreRootNode text{
    fill: white;
}

.dagreEdge{
    stroke: colorAccentBlack;
    size: 1px;
}