@value colors: "./export-variables.module.css";
@value colorAccentBlack, colorTertiary from colors;

:root {
    --dagreGraphPadding: 2px;
}

.elementWrapper{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.queryplanContainer{
    box-sizing: border-box;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.queryplanContainerTitle{
    position: relative;
    top: 1px;
    font-family: 'Segoe UI';
    font-size: 11px;
    font-weight: bold;
    color: colorAccentBlack;
    opacity: 1;
    margin-bottom: 0;
}

.warningContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reactFlowGraph{
    cursor: grab;
    padding: var(--dagreGraphPadding);
    box-sizing: border-box;
    height: 100%;
    width: 100%; 
}

.reactFlowGraph:active{
    cursor: grabbing;
}

.queryplanNodeBody{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.queryplanNodeTooltipSubtitle{
    margin-top: 10px;
    margin-bottom: 3px;
}

.queryplanNodeTooltipTableCellContent{
    font-size: 11px;
    color: colorTertiary;
    white-space: nowrap;
}

.queryplanNodeTooltipTableCellHead{
    font-size: 12px;

}
