@value colors: "./export-variables.module.css";
@value colorSecondary from colors;

/* :root{
 --eventOccurrenceColor: colorSecondary;
} */

.monacoEditorContainer{
    flex: 1 1 fit-content;
    display: flex;
    flex-flow: column;
}

.monacoEditor{
    flex: 1 1 fit-content; 
    height: 100%;
    width: 100%; 
    align-items: center;
}

.chartTitle{
    display: flex;
    justify-content: center;
    flex: 0 0 25px;
    position: relative;
    top: 1px; 
    font-family: 'Segoe UI';
    font-size: 11px;
    font-weight: bold;
    color: colorAccentBlack;
    opacity: 1;
}

/* .glyphMarginClass0{
    background: #F4CBB5;
}

.glyphMarginClass1{
    background: #EDB596;
}

.glyphMarginClass2{
    background: #E69F78;
}

.glyphMarginClass3{
    background: #E69F78;
}

.glyphMarginClass4{
    background: #DD895A;
}

.glyphMarginClass5{
    background: #d4733e;
}

.glyphMarginClass6{
    background: #C56937;
}

.glyphMarginClass7{
    background: #B66031;
}

.glyphMarginClass8{
    background: #A6562A;
}

.glyphMarginClass9{
    background: #964D24;
}

.glyphMarginClass{
    background: var(--eventOccurrenceColor);
} */

/* .editorContentClass{
    background: black;
} */