.dropzoneBase{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2;
    border-radius: 2;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
    transition: background-color .24s ease-in-out;
    margin: 50px;
    align-items: center;
    text-align: center;
}

.dropzoneActive{
    composes: dropzoneBase;
    border-color:#2196f3;
    background-color: #bdddf7;

}

.dropzoneAccept{
    composes: dropzoneBase;
    border-color:#00e676;
    background-color: #d5ebdf;


}

.dropzoneReject{
    composes: dropzoneBase;
    border-color:#ff1744;
    background-color: #ebc5cc;
}

p{
    font-size: large;
}

.spinnerArea{
    text-align: center;
    padding: 20px;
}
