.dropdownSelector{
    width: 200px;
    text-align: left;
}

.dropdownSelectorLabel{
    padding-left: 10px;

}

.dropdownSelectorContainer{
    margin: 20px;
}


.eventDropdownSelector{
    composes: dropdownSelector;
}

.eventDropdownSelectorLabel{
    composes: dropdownSelectorLabel;
}

.eventDropdownSelectorContainer{
    composes: dropdownSelectorContainer;
}    

.interpolationDropdownSelector{
    composes: dropdownSelector;
}

.interpolationDropdownSelectorLabel{
    composes: dropdownSelectorLabel;
}

.interpolationDropdownSelectorContainer{
    composes: dropdownSelectorContainer;
} 

.bucketsizeDropdownSelector{
    composes: dropdownSelector;
}

.bucketsizeDropdownSelectorLabel{
    composes: dropdownSelectorLabel;
}

.bucketsizeDropdownSelectorContainer{
    composes: dropdownSelectorContainer;
}


.pipelinesSelectorArea{
    display: block;
    margin: 10px;
}

.pipelinesSelectorFormControlLabel{
    margin-top: -5px;
    margin-bottom: -5px;
}

.eventsButtonsLabel{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}