@value colors: "./export-variables.module.css";
@value colorSecondary, colorTertiary, colorAccentBlack from colors;

:root {
    --labelFonSize: 11px;
}

.optionsLables{
    font-size: var(--labelFonSize);
}

.dropdownSelector{
    width: 150px;
    text-align: left;
}

.dropdownSelectorLabel{
    composes: optionsLables;
    padding-left: 1px;
}

.dropdownSelectorContainer{
    margin: 10px;
} 

.interpolationDropdownSelector{
    composes: dropdownSelector;
}

.interpolationDropdownSelectorLabel{
    composes: dropdownSelectorLabel;
}

.interpolationDropdownSelectorContainer{
    composes: dropdownSelectorContainer;
} 

.bucketsizeDropdownSelector{
    composes: dropdownSelector;
}

.bucketsizeDropdownSelectorLabel{
    composes: dropdownSelectorLabel;
}

.bucketsizeDropdownSelectorContainer{
    composes: dropdownSelectorContainer;
}
.headerMenuButton{
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.headerMenuButton:hover{
    background-color: colorSecondary;
}

.headerMenuButtonDisabled{
    color: colorTertiary !important;
}

.headerMenuPaper{
    background-color: colorAccentBlack;
    border-style: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 250px;
}

.headerMenuItem:hover, .headerMenuItem:hover:focus{
    background-color: colorSecondary;
}

.headerMenuItemContent{
    color: white;
}

.headerMenuItemContentText{
    composes: headerMenuItemContent;
    font-size: 11px;
    padding-left: 10px;
}

.headerMenuItemContentIcon{
    composes: headerMenuItemContent;
}

.headerMenuItemContentIconInfo{
    composes: headerMenuItemContentIcon;
    font-size: 15px;
    padding-left: 15px;
}

.headerMenuItemContentInfoTooltipContent{
    font-size: 13px;
}

.pipelinesSelectorArea{
    display: block;
    margin: 10px;
}

.pipelinesSelectorFormControlLabel{
    margin-top: -5px;
    margin-bottom: -5px;
}

.optionsContainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventButtonsContainer{
    composes: optionsContainer;
    flex-direction: column;
}

.eventButtonsArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.eventButton{
    animation: fadeIn 1s;
    max-width: 135px;
    min-width: 125px;
    border-radius: 70px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 10px;
    flex: 1 1 125px;     /* In flex use minwidth to ensure first shirnk then wrap of buttons */
}

.kpiContainer{
    composes: optionsContainer;
    text-align: center;
    flex-direction: row;
}

.kpiCardsArea{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
}

.kpiCard{
    margin-left: 4px;
    margin-right: 4px;
    width: 150px;
    height: 55px;
    border-radius: 7px;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: 0.5px;
    flex-basis: 100px;
    border-radius: 70px;

}

.kpiCardLabel{
    max-width: 80px;
    font-size: var(--labelFonSize);
}

.kpiCardValue{
    font-size: 20px;
    font-weight: 400;
}

.dropdownOptionsContainer{
    composes: optionsContainer;
    flex-direction: row;
}

.appbar{    
    color: white;
    background: colorAccentBlack;
}

.appbarToolbar{
    min-height: 38px;
    display: flex;
}

.appbarToolbarOptionsContainer{
    flex: 1;
    display: flex;
    justify-content: right;
    font-size: 12px;
    align-items: center;
}

.headerMenuContainer{
    flex-basis: 0;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusContainer{
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: var(--labelFonSize);
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}

.statusString{
    padding-right: 7px;
    display: flex;
    align-items: center;
}

.statusSymbol{
    display: flex;
    align-items: center;
}

.formControlLabel{
    margin: 0;
}

.togglerLabel{
    color: colorTertiary;
    font-size: 11px;
    vertical-align: middle;
}

.chartRestButton{
    position: absolute;
    left: 11px;
    z-index: 10;
}

.heatmapsOption{
    margin-left: 5px;
    margin-right: 5px;
}

.heatmapsOutlierDetectionSlider{
    width: 100px;
    margin-left: 10px;
}

.heatmapsOutlierDetectionSliderLabel{
    composes: togglerLabel;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media not all and (min-width: 900px) {
    .kpiCardsArea{
        composes: kpiCardsArea;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .kpiCard{
        composes: kpiCard;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .tpchHeaderMenuContainer{
        display: none;
    }
}


@media not all and (min-width: 650px) {
    .eventButtonsArea{
        composes: eventButtonsArea;
        width: 300px;
    } 

    .statusContainer{
        composes: statusContainer;
        flex-basis: 50px;
    }

    .statusString{
        display: none;
    }

    .headerMenuContainer{
        composes: headerMenuContainer;
        flex: 1;
        padding-right: 10px;
        justify-content: right;
    }    

}

