@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

@media not all and (min-width: 400px) {
    #root {
        overflow-x: scroll;
        width: var(--mobileScreenSizeAppWidth);;
        height: 100%;
        padding: 0;
        margin: 0;
    }
}
